@charset "utf-8";

main {
  width: 720px; /* 要素の幅 */
  background: lightgray; /* 背景色 */
  margin: auto; /* 要素外部の余白を自動(センタリング) */
}

.outer {
  width: 600px;
  height: 480px; /* 要素の高さ(指定しない場合は0か自動) */
  background: yellow;
  margin: auto;
  text-align: center; /* インライン要素を中央揃え */
}

.inner:nth-child(1) {
  display: inline-block; /* 要素を横積みにする */
  width: 60px;
  height: 60px;
  background: red;
  vertical-align: middle; /* インライン要素の垂直方向の揃え方を指定 */
}

.inner:nth-child(2) {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: green;
  vertical-align: middle;
}

.inner:nth-child(3) {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: blue;
  vertical-align: middle;
}
